<div role="tabpanel" class="tab-pane" id="d6system">

  {{#if char.custom.d6.reset_needed}}
     <div class="cg-tip"><AnsiFormat @text="You need to reset your abilities first!" /></div>

        <div class="action-buttons">
           <button name="reset" {{action 'resetD6Abilities' char.name}} class="btn btn-secondary">Reset Abilities</button>
        </div>
    {{else}}

     <ul class="nav nav-tabs" role="tablist">

           <li role="presentation" class="nav-item"><a href="#d6attrs" aria-controls="d6attrs" role="tab" data-bs-toggle="tab" class="nav-link active">Attributes</a></li>
           <li role="presentation" class="nav-item"><a href="#d6skills" aria-controls="d6skills" role="tab" data-bs-toggle="tab" class="nav-link">Skills</a></li>
           <li role="presentation" class="nav-item"><a href="#d6specializations" aria-controls="d6specializations" role="tab" data-bs-toggle="tab" class="nav-link">Specializations</a></li>
           <li role="presentation" class="nav-item"><a href="#d6advantages" aria-controls="d6advantages" role="tab" data-bs-toggle="tab" class="nav-link">Advantages</a></li>
           <li role="presentation" class="nav-item"><a href="#d6disadvantages" aria-controls="d6disadvantages" role="tab" data-bs-toggle="tab" class="nav-link">Disadvantages</a></li>
           <li role="presentation" class="nav-item"><a href="#d6specials" aria-controls="d6specials" role="tab" data-bs-toggle="tab" class="nav-link">Special Abilities</a></li>
         </ul>

  <div class="tab-content">
  
  <div role="tabpanel" class="tab-pane active" id="d6attrs">

  <div class="card card-default">
       <div class="card-heading">
           Attributes
       </div>
   <div class="card-body">

     <p class="cg-tip"><AnsiFormat @text={{char.custom.cg_d6.attrs_blurb}} /></p>

     {{#each char.custom.d6.attrs as |att|}}
     <D6Attrbox @rating={{att.rating}} @maxRating={{char.custom.cg_d6.max_attr_dice}} @updated={{action "abilityChanged"}}>
         <b>{{att.name}}</b> - {{att.desc}}
     </D6Attrbox>
     {{/each}}
     <br>
     Points spent on attributes: {{this.attrPoints}} ({{this.attrDice}} dice)
     <br>

   </div>
  </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="d6skills">

  <div class="card card-default">
       <div class="card-heading">
           Skills
       </div>
   <div class="card-body">

     <p class="cg-tip"><AnsiFormat @text={{char.custom.cg_d6.skills_blurb}} /></p>
     <br>
     <ul class="nav nav-tabs" role="tablist">

    {{#each char.custom.d6.attrs as |att index|}}
     {{#if (eq index 0)}}
     <li role="presentation" class="nav-item"><a href="#d6{{att.name}}" aria-controls="{{att.name}}" role="tab" data-bs-toggle="tab" class="nav-link active">{{att.name}}</a></li>
     {{else}}
     <li role="presentation" class="nav-item"><a href="#d6{{att.name}}" aria-controls="{{att.name}}" role="tab" data-bs-toggle="tab" class="nav-link">{{att.name}}</a></li> 
     {{/if}}
     {{/each}}
         </ul>    
  <div class="tab-content">
 
    {{#each char.custom.d6.attrs as |attribute index|}}
     {{#if (eq index 0)}}
     <div role="tabpanel" class="tab-pane active" id="d6{{attribute.name}}">
        <D6ChargenSkills @skills={{char.custom.d6.skills}} @attribute={{attribute.name}} @max={{char.custom.cg_d6.max_skill_dice}} @updated={{action "abilityChanged"}}/>
    </div>
     {{else}}
     <div role="tabpanel" class="tab-pane" id="d6{{attribute.name}}">
        <D6ChargenSkills @skills={{char.custom.d6.skills}} @attribute={{attribute.name}} @max={{char.custom.cg_d6.max_skill_dice}} @updated={{action "abilityChanged"}}/>
    </div>
   {{/if}}
   {{/each}}
   </div>
   <br>
   Points spent on skills: {{this.skillPoints}} ({{this.skillDice}} dice)
   <br>

</div>
</div>
</div>

  <div role="tabpanel" class="tab-pane" id="d6specializations">

  <div class="card card-default">
       <div class="card-heading">
           Specializations
       </div>
   <div class="card-body">

     <p class="cg-tip"><AnsiFormat @text={{char.custom.cg_d6.specializations_blurb}} /></p>
     <br>

     {{#each char.custom.d6.specializations as |spec|}}
     {{#if (eq spec.rating "0D+0")}}
     {{else}}
       <D6Skillbox @rating={{spec.rating}} @maxRating={{5}} @updated={{action "abilityChanged"}}>
          <b>{{spec.name}}</b>
       </D6Skillbox>
     {{/if}}
     {{/each}}

     <br>
     Points spent on specializations: {{this.specPoints}} ({{this.specDice}} dice)
     <br>
     <br>
     <button class="btn btn-primary" id="addspec" {{action (mut this.selectSpecialization) true}}>Add Specialization</button>

   </div>
  </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="d6advantages">
  <D6ChargenOption @type="advantage" @blurb={{char.custom.cg_d6.advantages_blurb}} @opList={{char.custom.cg_d6.advantages}} @charList={{char.custom.d6.advantages}} />
  </div>

  <div role="tabpanel" class="tab-pane" id="d6disadvantages">
  <D6ChargenOption @type="disadvantage" @blurb={{char.custom.cg_d6.disadvantages_blurb}} @opList={{char.custom.cg_d6.disadvantages}} @charList={{char.custom.d6.disadvantages}} />
  </div>

  <div role="tabpanel" class="tab-pane" id="d6specials">
  <D6ChargenOption @type="special ability" @blurb={{char.custom.cg_d6.special_abilities_blurb}} @opList={{char.custom.cg_d6.special_abilities}} @charList={{char.custom.d6.special_abilities}} @specDifficulty={{char.custom.cg_d6.specials_difficulty}} />
  </div>

 </div>
{{/if}}
</div>

<BsModalSimple @title="Specialization" @closeTitle="Cancel" @submitTitle="Add" @size={{null}} @fade={{true}} @open={{this.selectSpecialization}} @onSubmit={{action "addSpecialization"}} @onHide={{action (mut this.selectSpecialization) false}}>
    <p>Enter a specialization name.</p>
    <Input @type="text" size={{25}} id="specname" @enter={{action "addSpecialization"}} @value={{this.newSpecialization}} />
    <p>Choose the skill for the specialization.</p>
       <select onchange={{action (mut this.specSkillString) value="target.value"}}>
       {{#each char.custom.cg_d6.skillnames as |skill|}}
           <option value={{skill}}>{{skill}}</option>
       {{/each}}
       </select>
    <Input @type="text" size={{25}} id="specSkillString" @enter={{action "addSpecialization"}} @value={{this.specSkillString}} />
  </BsModalSimple>
