<li><a href="#" {{action (mut this.addD6AbilityRoll) true}} class="dropdown-item">Add Ability Roll</a></li>

<D6Roll @job={{this.job}} @destinationType="job" @abilities={{this.custom.char_abilities}} @fatePoints={{this.custom.fate_points}} @charPoints={{this.custom.char_points}} @selectAddRoll={{this.addD6AbilityRoll}} />
