<BsModalSimple @title="Add Ability Roll" @closeTitle="Cancel" @submitTitle="Roll" @size={{null}} @fade={{true}} @open={{this.selectAddRoll}} @onSubmit={{action "addRoll"}} @onHide={{action (mut this.selectAddRoll) false}}>

    <p class="hint">You can use a number of dice and a modifier to roll for an NPC. Please enter the total of dice and modifiers, as there won't be any automatic factoring in of average attributes.</p>
    
    <p class="hint">If you spend a fate point on your roll, the result will be doubled. Spending a char point on your roll will add another D6 to it.</p>

    <p><b>Regular Roll</b></p>
    <p>Select an ability, or type one (plus modifiers, if applicable) in the box.</p>
    <select onchange={{action (mut this.rollString) value="target.value"}}>
      {{#each this.abilities as |ability|}}
        <option value={{ability}}>{{ability}}</option>
      {{/each}}
    </select>
    <Input @type="text" size={{25}} id="rollString" @enter={{action "addRoll"}} @value={{this.rollString}} />
    <br>
    {{#if this.fatePoints}} 
       Spend a fate point: <Input @type="checkbox" @checked={{this.rollFate}} /> 
   {{/if}}
    {{#if this.charPoints}}
       Spend a char point: <Input @type="checkbox" @checked={{this.rollChar}} />
   {{/if}}
    Difficulty <Input @type="checkbox" @checked={{this.rollDiff}} />
    {{#if this.rollDiff}}
       <Input @type="integer" size={{3}} id="difficulty" @enter={{action "addRoll"}} @value={{this.difficulty}} />
   {{/if}}
   <hr>
    <p><b>Roll for Another PC / NPC</b></p>
    
    <p>
      Character: <Input @type="text" size={{15}} id="pcRollName" @enter={{action "addRoll"}} @value={{this.pcRollName}} /> 
      Ability: <Input @type="text" size={{15}} id="pcRollAbility" @enter={{action "addRoll"}} @value={{this.pcRollAbility}} />
      Difficulty <Input @type="checkbox" @checked={{this.pcRollDiff}} />
    {{#if this.pcRollDiff}}
       <Input @type="integer" size={{3}} id="pcDifficulty" @enter={{action "addRoll"}} @value={{this.pcDifficulty}} />
    {{/if}}
    </p>
      
    <hr>
    <p><b>Opposed Roll</b></p>
    <p>Enter two character and ability names.</p>
    <p>
      Character: <Input @type="text" size={{15}} id="vsName1" @enter={{action "addRoll"}} @value={{this.vsName1}} /> 
      Ability: <Input @type="text" size={{15}} id="vsRoll1" @enter={{action "addRoll"}} @value={{this.vsRoll1}} /><br>
     vs<br>
      Character: <Input @type="text" size={{15}} id="vsName2" @enter={{action "addRoll"}} @value={{this.vsName2}} /> 
      Ability: <Input @type="text" size={{15}} id="vsRoll2" @enter={{action "addRoll"}} @value={{this.vsRoll2}} /><br>
    </p>

  </BsModalSimple>
