<BsModalSimple @title="Set Damage" @closeTitle="Cancel" @submitTitle="Set Damage" @size={{null}} @fade={{true}} @open={{this.selectDamage}} @onSubmit={{action "setDamage"}} @onHide={{action (mut this.selectDamage) false}}>

    <p><b>Set Damage</b></p>
       <p>Select a character and a wound level, or type the info into the boxes.</p>

       <br>Character: 
       {{#if this.scene}}
       <select onchange={{action (mut this.nameString) value="target.value"}}>
       {{#each this.scene.participants as |char|}}
           <option value={{char.name}}>{{char.name}}</option>
       {{/each}}
       </select>
       {{/if}}
    <Input @type="text" size={{25}} id="nameString" @enter={{action "setDamage"}} @value={{this.nameString}} />

     <br>Wound Level:
       <select onchange={{action (mut this.damageString) value="target.value"}}>
       {{#each this.woundLevels as |level|}}
           <option value={{level}}>{{level}}</option>
       {{/each}}
       </select>
    <Input @type="text" size={{25}} id="damageString" @enter={{action "setDamage"}} @value={{this.damageString}} />

 </BsModalSimple>
